{% extends 'base.html.twig' %}

{% block title %}
    Les recettes de Sandrine Coupart, diététicienne et nutritionniste - Les recettes
{% endblock %}

{% block body %}

  <main class='recipes_main'>

    {% if user %}
      <section class='recipes_user_section'>
        <h2 class='article_title'>Moi</h2>
        <article class='recipes_user_article'>
          <p class='recipes_user_text'>Mes allergènes : </p>
          <p class='recipes_user_text'>Mes régimes : </p>
        </article>
      </section>
    {% endif %}

    <section class='recipes_section'>
      <h2 class='article_title'>Les recettes</h2>
      
      {% for recipe in recipes %}
        <article class='recipes_article'>
          <h4 class='recipes_title'>{{ recipe.recipetitle }}</h4>
          {% if recipe.recipedescription != null %}
            <p class='recipes_text'>{{ recipe.recipedescription}}</p>
          {% endif %}

          {% if recipe.recipeImageName %}
            <img class='recipes_image' src="{{ vich_uploader_asset(recipe, 'imageFile') }}" alt="Photo of the recipe : {{ recipe.recipetitle }}">
          {% else %}
            <img class='recipes_image' src="{{ asset('images/logo.svg') }}" alt="Photo of the recipe : {{ recipe.recipetitle }}">
          {% endif %}

          <p class='recipes_text'>Allergènes de la recette : </p>
          <p class='recipes_text'>Régimes de la recette : </p>

          <!-- Page of the recipe -->
          <a class="link" href="{{ path('app_show_recipe', {'id': recipe.id}) }}">Voir la recette</a>
        </article>
      {% endfor %}

    </section>

  </main>
  
{% endblock %}
